.main-container {
    display: flex;
    margin: auto;
    background-color: darkgrey;
    flex-wrap: wrap;
    width: 80vw;
    aspect-ratio: 1 / 1;
}

.child-div {
    box-sizing: border-box;
    border: 1px solid black;
    transition: background-color 0.5s ease;
}

.child-div.hovered {
    background-color: black; /* Color during the hover effect */
}